body {
  background-color: #343834;
  font-family: "Noto Sans KR", sans-serif;
}

#form1 {
  background-color: #cfcfcf;
  border-radius: 5px;
}

#form2 {
  background-color: #cfcfcf;
  border-radius: 5px;
}
